
* {
  font-family: "Marcellus", Roboto, sans-serif;
}


.navbar,
.navbar-links a {
  transition: all 0.3s ease-in-out;
}

.navbar-logo {
  font-size: 2rem;
  color: #ff6347; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.navbar-logo img{
  width: 6rem;
  height: auto;
  /* border-radius: 50%; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  /* padding: 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links li {
  color: black;
  /* font-size: 2rem; */
}


.navbar-links a:hover {
  color: #f4b803e2;
  text-decoration: underline;
}


.navbar-links li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.navbar-logo {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  margin-left: 10rem;
}

/* .search-icon {
  color: black;
  font-size: small;
  margin-left: 5rem;
} */
.cart-notification {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; 
  height: 20px; 
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  font-size: 12px;
  font-weight: bold; 
  margin-left: 5px;
  margin-bottom: 2px;
}
.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.navbar-links a:hover {
  text-decoration: underline;
}
.menu-icon{
  display: none;
}

/* Responsive Styles */


@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
    display: flex;
  }

  .navbar-logo {
    font-size: 1.2rem;
  }

  .navbar-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .navbar-links.active {
    display: flex; 
    width: 50%;
    flex-direction: column;
    align-items: center;


    
  }

  .navbar-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .navbar-links a {
    padding: 1rem;
    width: 100%;
    display: block;
  }

  .navbar-icons {
    margin-left: 0;
    gap: 0.5rem;
  }

  .search-icon {
    margin-left: 0;
  }

 
  .menu-icon {
    display: block; 
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
  }
}




  